# derived from the template on purpose
/.github/workflows/import-publications.yml -diff
/.github/workflows/publish.yaml -diff
/.github/workflows/updater-wip.yml -diff
/academic.Rproj -diff
/assets/media/icons/brands/org-*.svg -diff
/netlify.toml -diff
/theme.toml -diff

# content is managed in a submodule
/content/** -diff
